---
import type { Language } from '@domain/models';
import { translate } from '@/domain';
import Section from '../common/Section.astro';
import ViewMore from '../ui/ViewMore.astro';
// Button import removed (unused)

interface Props {
    lang: Language;
    featured?: number;
}

const { lang, featured = 12 } = Astro.props;

import { InMemorySkillsLabelsRepository, InMemorySkillRepository } from '@/data';
import { GetSkillsLabelsUseCase, GetSkillsUseCase } from '@/domain';

const skillsLabels = await new GetSkillsLabelsUseCase(new InMemorySkillsLabelsRepository()).execute();
const skills = await new GetSkillsUseCase(new InMemorySkillRepository()).execute();
---

<Section id="skills" topFade bottomFade background='circuit' title={translate(skillsLabels.title, lang)} subtitle={translate(skillsLabels.subtitle, lang)}>
    
    <div class="flex flex-col gap-10 mt-10 px-5 md:px-10 lg:px-15">
        <!-- Featured Skills Grid -->
        <div class="mb-8">
            <div class="grid gap-6 grid-cols-2 sm:grid-cols-3
            md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-6 ">
                {skills
                .filter((skill) => !['architecture','methodologies'].includes(skill.category))
                .sort((a, b) => b.level - a.level)
                .slice(0, featured)
                .map((skill) => {
                    return (
                        <div title={skill.name} class="min-w-40 flex flex-col items-center gap-5 py-5 px-3 
                        rounded-md transition-transform duration-200 hover:-translate-y-2 
                        cursor-help bg-bg-surface-alt-v border-primary-dark-v border-3 shadow-secondary-v shadow-md ">
                            <div class="size-14 sm:size-16 md:size-18 lg:size-20 flex">
                                <img 
                                    src={skill.iconUrl} 
                                    alt={skill.name}
                                    loading="lazy"
                                    class="size-50 w-full h-full object-contain"
                                />
                            </div>
                            <h3 class="text-md sm:text-lg md:text-xl lg:text-3xl
                            font-semibold text-bg-inverse-alt-v text-center">{skill.name}</h3>
                            <div class="w-full flex justify-center">
                                <span class="text-md sm:text-lg md:text-xl lg:text-3xl
                                text-accent-v" aria-label={`${skill.level} de 5 estrellas`}>{'★'.repeat(skill.level)}</span>
                            </div>
                        </div>
                    );
                })}
            </div>
        </div>

        <ViewMore lang={lang} href={`/${lang}/skills`}/>
    </div>
</Section>

